html, body {
	margin:  0;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:   18px;
	line-height: 1.36em;
	color: white;
}
body {
	background-position: top;
	background-size: cover;
}
label {
	font-size: 14px;
}
#container {
	padding: 2rem;
	background-color: rgb(0,0,0,.25);
}
.darkmode #container {
	background-color: rgb(0,0,0,.55);
}
#current {
	padding: .5rem 0 1rem;
}
#current p {
	font-size: 24px;
}
#current p:last-child:after {
	background-size: 30px 30px;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: "";
	position: absolute;
	margin-top: -.2rem;
	margin-left: .5rem;
}
#current.sunny p:last-child:after {
	background-image: url('/portfolio/projects/svg/sunny.svg');
}
#current.cloudy-h p:last-child:after {
	background-image: url('/portfolio/projects/svg/cloudy.svg');
}
#current.rainy p:last-child:after {
	background-image: url('/portfolio/projects/svg/rainy.svg');
}
#current.partly-sunny p:last-child:after, #current.partly-cloudy p:last-child:after {
	background-image: url('/portfolio/projects/svg/partlycloudy.svg');
}
#forecast p {
	margin: 1.25rem 0 0 1rem;
}
#forecast ul {
	margin-top: 0;
	padding-left: 0;
	list-style-type: none;
}
#forecast li {
	border-bottom: 1px solid #fff;
  align-items: center;
  display: flex;
  padding: 0 0 0 1rem;
}
#forecast li.current-day {
	border: 1px solid #fff;
  padding: 0 1rem;
	margin: 1.2rem 0;
}
#forecast span {
	display: block;
	padding: .3rem 0 1rem 0;
  font-size: .8rem;
	font-style: italic;
}
#forecast ul img {
	max-width: 3rem;
	display: inline-block;
}
#forecast .forecast-title {
	margin: 2.5rem 0 .5rem;
	font-weight: bold;
	font-style: inherit;
}
.day {
	background-image: url("/portfolio/projects/jpg/day.jpg");
}
.darkmode {
	background-image: url("/portfolio/projects/jpg/night.jpg");
}
.cloudy {
	background-image: url("/portfolio/projects/jpg/cloudy.jpg");
}
@media only screen and (min-width: 47rem) {
	#container {
		max-width: 40rem;
	}
}
